.preview {
  margin-bottom: 1.5rem;
  padding: 0.5rem;
}

.inputblock{
  padding-right: 1.2rem;
  margin-bottom: 1rem;

  >input{
    width: 100%;
    padding: 0.5rem;
    border: 1px solid #2e2e2e;
  }
}

.card {
  border-radius: 10px;
  overflow: hidden;
  border: 1px solid #2e2e2e;


  .editor {
      background-color: rgba(0, 0, 0, 0.08);
      padding: 1.2rem;
      padding-bottom: 1.5rem;
      display: block;
      width: calc(100% - 2rem);
      min-height: 200px;
      border: none;
      outline: none;
  }

  .actions {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.05rem 1.2rem;
    transition: color 0.4s ease-in-out;

    .tools {
      > button {
        margin-right: 0.3rem;
        background-color: transparent;
        border: none;

        &:hover{
          color: burlywood;
        }
      }
    }

    > button {
      margin: 0.5rem;
      border-radius: 8px;
      border: 1px solid transparent;
      padding: 0.6em 1.2em;
      font-size: 1em;
      font-weight: 500;
      font-family: inherit;
      background-color: transparent;
      cursor: pointer;
      transition: border-color 0.4s;
      &:hover {
        border-color: #646cff;
      }
      &:focus,
      &:focus-visible {
        outline: 4px auto -webkit-focus-ring-color;
      } 
    }
  }

  .read-the-docs {
    color: #888;
  }
}